.App-header {
  height: 100px;
  background-color: gray;
}

.navigation {
  
  width: 80%;
  height: 90px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: row;
  width: 1500px;
  height: 1500px;
  color: white;
  font-family: 'Nunito', sans-serif; 
  font-size: 36pt;
  background-color: rgb(18, 14, 13);
}

h2 {
  color: white;
  font-family: 'Sans', sans-serif;
  font-style: bold;
  font-size: 59pt;
  line-height: 62pt;
  vertical-align: bottom;
  text-align: center;
  padding: 0;
  margin: 0; 
  /*border: 1px solid blue;*/
}

.middleBold {
  color: white;
  font-family: 'Sans', sans-serif;
  font-style: bold;
  font-size: 32pt;
  line-height: 44pt;
  vertical-align: bottom;
  text-align: center;
  padding: 0;
  margin: 0; 
  /*border: 1px solid orange;*/
}

.normal {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-size: 25pt;
  line-height: 32pt;
  vertical-align: bottom;
  text-align: center;
  padding: 0;
  margin: 0;
  letter-spacing: -0.6px; 
  /*border: 1px solid orange;*/
}

.info {
  display: flex;
  flex-direction: column;
  width: 38%;
  height: 100%;
  /*border: 1px solid red;*/
}

.photo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45%;
  /*border: 1px solid white;*/
  align-items: center;
}

.photo div {
  margin: 94px -60px 60px 0; 
  height: 440px;
  width: 440px;
  /*border: 1px solid green;*/
}

.photo img {
  height: 100%;
  width: auto;
}

.photo p {
  margin-top: -10px;
  padding-left: 38px;
  text-align: top;
  line-height: 40px;
  font-size: 38px;
  letter-spacing: 0.5px;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statistics div {
  margin: 30px 0 0 25px;
}

.statistics div:nth-child(2) {
  margin-top: 65px;
}

.statistics div:nth-child(3) {
  margin-top: 45px;
}

.statistics h2 {
  margin: 0 0 30px 0; 
  text-align: left;
  padding-left: 80px;
  letter-spacing: -2.5px;
}

.statistics div:nth-child(2) h2 {
  margin-top: 10px;
}

.statistics div:nth-child(3) h2 {
  padding-left: 76px;
  margin-top: 12px;
}

.statistics p {
  text-align: left;
  margin-top: -9px;
  padding-left: 80px;
}

.graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 62%;
  height: 100%;
  padding-bottom: -10%;
  border: 1px solid yellow;
}

.radar {
  width: 100%;
  height: 58%;
  border: 1px solid purple;
}

.RadarChart {
  fill: white;
  font-weight: bold;
  font-family: "Sans", sans-serif; 
  margin: 100px;
}

.RadarChart svg {
  overflow: visible;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 42%;
  /*border: 1px solid tomato;*/
}

.bar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 15px;
  width: 42.5%;
  height: 100%;
  /*border: 1px solid grey;*/
}

.bar div:nth-child(1) {
  padding-left: 10px;
}

.bar div:nth-child(2) {
  padding-left: -110px;
}

.YA .rv-xy-plot__axis__ticks {
  color: #ffffff !important;
  font-size: 35px;
  font-weight: bold;
  font-family: "Sans", sans-serif;
}

.barSeries svg {
  overflow: visible;
  fill: white;
}

.bar div p {
  padding: 0;
  margin: 30px 0 0 0;
  font-size: 38px;
  line-height: 43px;
  text-align: center;
  vertical-align: middle;
}